<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="search param" aria-label="search param" #param (keyup)="0" aria-describedby="button-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
    </div>
</div>

<table class = "container">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Salary</th>
    </tr>
    <tr *ngFor = "let el of objdata">
        <td>{{ el.id }}</td>
        <td>{{ el.name }}</td>
        <td>{{ el.salary }}</td>
    </tr>
</table>