table {
    border-collapse: collapse;
    width: 50%;
    text-align: left;
}

th, td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

#header_row {
    background-color: teal;  
    color: white;
}